<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main-container.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>Бухгалтер</title>
</head>

<body>

<header class="header">
    <div class="header-container">
        <div class="header-menu">
            <div class="subbutton" onclick="document.location.href='/oper'">Оператор</div>
            <div class="subbutton" onclick="document.location.href='/acc'">Бухгалтер</div>
        </div>
        <div class="role-name-container">
            <div class="client-info">
                <span>
                    Сотрудник: <span th:text="${employee.name}"></span>, <span th:text="${emprole}"></span>
                </span>
            </div>
            <div class="role-name">
				<span>
                    Текущая дата: <span th:text="${operdate}"></span>
                </span>
            </div>
        </div>
        <div class="exit-button subbutton">
            <div onclick="document.location.href='/index'">Выход</div>
        </div>
    </div>
</header>

<main>
    <div class="main-container">
        <div class="air"></div>
        <div class="column1">
            <div class="form">
                <a class="anchor" id="change_operdate"></a>
                <div class="form-name"><p>Закрытие текущего рабочего дня и открытие следующего</p></div>
                <form action="vendor/change_operdate.php" method="POST">
                    <label>Дата нового открытого дня</label>
                    <label><input type="date" name="date"></label>
                    <input class="button" type="submit" value="Установить" title="Установить указанный день как текущий">
                    <label class="report"><?php echo session_message("message-operdate"); ?></label>
                </form>
            </div>
            <div class="form">
                <a class="anchor" id="transaction_acc"></a>
                <div class="form-name"><p>Перевод средств между кассами и счетами банка</p></div>
                <form action="/transaction_acc" method="POST">
                    <div th:unless="${bankAccountList.isEmpty()}">
                        <div class="form-content"><p>Счет отправки перевода (дебета)</p>
                            <label><div class="select-block">
                                <select class="form-control" name="debitAccountNum">
                                    <option selected></option>
                                    <option th:each="account : ${bankAccountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div class="form-content"><p>Счет приема перевода (кредита)</p>
                            <label><div class="select-block">
                                <select class="form-control" name="creditAccountNum">
                                    <option selected></option>
                                    <option th:each="account : ${bankAccountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <label>Сумма перевода<input pattern="^\d+(\.\d{1,2}|)$" name="sum"
                                                        required placeholder="100.00"></label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Перевести"
                                   title="Перевести указанную сумму между счетами банка">
                        </div>
                    </div>
                    <div th:if="${bankAccountList.isEmpty()}">
                        <label class="information">Нет открытых счетов</label>
                    </div>
                    <label class="report"><span th:text="${report_transaction_acc}"></span></label>
                    <label class="error"><span th:text="${error_transaction_acc}"></span></label>
                </form>
            </div>
        </div>
        <div class="column2">
            <div class="form">
                <a class="anchor" id="change_currency_cost"></a>
                <div class="form-name"><p>Обновить курс валют</p></div>
                <form action="/change_currency_cost" method="POST">
                    <div class="form-content">
                        <p>Валюта</p>
                        <label><div class="select-block">
                            <select class="form-control" name="currency">
                                <option selected></option>
                                <option th:each="currency : ${foreignCurrencyList}" th:value="${currency.code}"
                                        th:text="${currency.name}"></option>
                            </select>
                        </div></label>
                    </div>
                    <div>
                        <label>Стоимость покупки в рублях
                            <input pattern="^\d+(\.\d{1,2}|)$" name="buy" required placeholder="100.00">
                        </label>
                    </div>
                    <div>
                        <label>Стоимость, установленная ЦБ в рублях
                            <input pattern="^\d+(\.\d{1,2}|)$" name="cost" required placeholder="100.00">
                        </label>
                    </div>
                    <div>
                        <label>Стоимость продажи в рублях
                            <input pattern="^\d+(\.\d{1,2}|)$" name="sell" required placeholder="100.00">
                        </label>
                    </div>
                    <div>
                        <input class="button" type="submit" value="Обновить" title="Обновить текущий курс валют">
                    </div>
                    <label class="report"><span th:text="${report_change_currency_cost}"></span></label>
                    <label class="error"><span th:text="${error_change_currency_cost}"></span></label>
                </form>
            </div>
        </div>
        <div class="air"></div>
    </div>
</main>
</body>
</html>