<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main-container.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>Оператор</title>
</head>
<body>
<header class="header">
    <div class="header-container">
        <div class="header-menu">
            <div class="subbutton" onclick="document.location.href='/oper'">Оператор</div>
            <div class="subbutton" onclick="document.location.href='/acc'">Бухгалтер</div>
        </div>
        <div class="role-name-container">
            <div class="client-info">
                <span>
                    Сотрудник: <span th:text="${employee_name}"></span>, <span th:text="${employee_role}"></span>
                </span>
            </div>
            <div class="role-name">
				<span>
                    Работа с клиентом: <span th:text="${client_name}"></span>,
                    паспорт № <span th:text="${client_passport}"></span>
                </span>
            </div>
        </div>
        <div class="exit-button subbutton">
            <div onclick="document.location.href='/index'">Выход</div>
        </div>
    </div>
</header>
<main>
    OPERWORK PAGE
</main>
</body>
</html>