<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main-container.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>Оператор</title>
</head>
<body>
<header class="header">
    <div class="header-container">
        <div class="header-menu">
            <div class="subbutton" onclick="document.location.href='/oper'">Оператор</div>
            <div class="subbutton" onclick="document.location.href='/acc'">Бухгалтер</div>
        </div>
        <div class="role-name-container">
            <div class="client-info">
                <span>
                    Сотрудник: <span th:text="${employee.name}"></span>, <span th:text="${emprole}"></span>
                </span>
            </div>
            <div class="role-name">
				<span>
                    Работа с клиентом: <span th:text="${client.name}"></span>,
                    паспорт № <span th:text="${client.passport}"></span>
                </span>
            </div>
        </div>
        <div class="exit-button subbutton">
            <div onclick="document.location.href='/index'">Выход</div>
        </div>
    </div>
</header>
<main>
    <div class="main-container">
        <div class="air"></div>
        <div class="column1">
            <div class="form">
                <a class="anchor" id="edit_client"></a>
                <div class="form-name">
                    <p>Редактировать профиль клиента</p>
                </div>
                <form action="/edit_client" method="POST">
                    <label>Фамилия, имя, отчество</label>
                    <label><input type="text" required="required" name="name"
                                  placeholder="Иванов Иван Иванович" th:value="${client.name}"></label>

                    <label>Телефон</label>
                    <label><input type="tel" required="required" name="phone"
                                  placeholder="+78005553535" th:value="${client.phone}"></label>

                    <label>Номер паспорта</label>
                    <label><input pattern="^[0-9]{4} [0-9]{6}$" required="required" name="passport"
                                  placeholder="Серия и номер" th:value="${client.passport}"></label>

                    <label>Кем выдан</label>
                    <label><input type="text" name="passgiven"
                                  placeholder="Название подразделения" th:value="${client.passgiven}"></label>

                    <label>Код подразделения</label>
                    <label><input pattern="^([0-9]{3}\-[0-9]{3}|)$" name="passcode"
                                  placeholder="000-000" th:value="${client.passcode}"></label>

                    <label>Дата выдачи</label>
                    <label><input type="date" name="passdateString" th:value="${client.getPassdateString()}"></label>

                    <label>Пол</label>
                    <label><input pattern="^[МЖ]$" name="sex" placeholder="М/Ж" th:value="${client.sex}"></label>

                    <label>Дата рождения</label>
                    <label><input type="date" name="birthdateString" th:value="${client.getBirthdateString()}"></label>

                    <label>Место рождения</label>
                    <label><input type="text" name="birthplace"
                                  placeholder="Регион, город" th:value="${client.birthplace}"></label>

                    <label>Адрес регистрации</label>
                    <label><input type="text" name="reg" placeholder="Индекс, регион, город, улица, дом, квартира"
                                  th:value="${client.reg}"></label>

                    <label>Адрес проживания</label>
                    <label><input type="text" name="address" placeholder="Индекс, регион, город, улица, дом, квартира"
                                  th:value="${client.address}">
                    </label>

                    <label>Электронная почта</label>
                    <label><input type="email" name="email"
                                  placeholder="example@email.com" th:value="${client.email}"></label>

                    <input class="button" type="submit" value="Сохранить"
                           title="Сохранить изменения персональных данных клиента">
                    <label class="report"><span th:text="${report_create_client}"></span></label><br>
                    <label class="error"><span th:text="${error_create_client}"></span></label>
                </form>
            </div>

            <!-- -------------------- СЧЕТА -------------------- -->
            <div class="form">
                <a class="anchor" id="create_account"></a>
                <div class="form-name"><p>Открыть новый счет</p></div>
                <form action="/create_account" method="POST">
                    <div class="form-content">
                        <p>Выберите валюту нового счёта</p>
                        <label><div class="select-block">
                            <select class="form-control" name="currencyCode">
                                <option selected></option>
                                <option th:each="currency : ${currencyList}" th:value="${currency.code}"
                                        th:text="${currency.name}"></option>
                            </select>
                        </div></label>
                    </div>
                    <div><input class="button" type="submit" value="Открыть" title="Открыть новый счёт"></div>
                    <label class="report"><span th:text="${report_create_account}"></span></label><br>
                    <label class="error"><span th:text="${error_create_account}"></span></label>
                </form>
            </div>

            <div class="form">
                <a class="anchor" id="close_account"></a>
                <div class="form-name"><p>Закрыть счет</p></div>
                <form action="/close_account" method="POST">
                    <div th:unless="${zeroAccountList.isEmpty()}">
                        <div class="form-content">
                            <p>Выберите счет</p>
                            <label><div class="select-block">
                                <select class="form-control" name="accountNum">
                                    <option selected></option>
                                    <option th:each="account : ${zeroAccountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Закрыть" title="Закрыть выбранный счёт">
                        </div>
                    </div>
                    <div th:if="${zeroAccountList.isEmpty()}">
                        <label class="information">Нет открытых счетов c нулевым балансом</label>
                    </div>
                    <label class="report"><span th:text="${report_close_account}"></span></label><br>
                    <label class="error"><span th:text="${error_close_account}"></span></label>
                </form>
            </div>
        </div>
        <div class="column2">
            <div class="form">
                <a class="anchor" id="push_account"></a>
                <div class="form-name"><p>Пополнить счет</p></div>
                <form action="/push_account" method="POST">
                    <div th:unless="${accountList.isEmpty()}">
                        <div class="form-content">
                            <p>Выберите счет</p>
                            <label><div class="select-block">
                                <select class="form-control" name="accountNum">
                                    <option selected></option>
                                    <option th:each="account : ${accountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <label>Сумма пополнения<input pattern="^\d+(\.\d{1,2}|)$" name="sum" required placeholder="100.00"></label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Пополнить" title="Пополнить выбранный счёт">
                        </div>
                    </div>
                    <div th:if="${accountList.isEmpty()}">
                        <label class="information">Нет открытых счетов</label>
                    </div>
                    <label class="report"><span th:text="${report_push_account}"></span></label><br>
                    <label class="error"><span th:text="${error_push_account}"></span></label>
                </form>
            </div>

            <div class="form">
                <a class="anchor" id="pop_account"></a>
                <div class="form-name"><p>Снять средства со счета</p></div>
                <form action="/pop_account" method="POST">
                    <div th:unless="${accountList.isEmpty()}">
                        <div class="form-content" th:unless="${accountList.isEmpty()}">
                            <p>Выберите счет</p>
                            <label><div class="select-block">
                                <select class="form-control" name="accountNum">
                                    <option selected></option>
                                    <option th:each="account : ${accountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <label>Сумма снятия<input pattern="^\d+(\.\d{1,2}|)$" name="sum" required
                                                      placeholder="100.00"></label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Снять" title="Снять средства с выбранного счёта">
                        </div>
                    </div>
                    <div th:if="${accountList.isEmpty()}">
                        <label class="information">Нет открытых счетов</label>
                    </div>
                    <label class="report"><span th:text="${report_pop_account}"></span></label><br>
                    <label class="error"><span th:text="${error_pop_account}"></span></label>
                </form>
            </div>

            <div class="form">
                <a class="anchor" id="transaction_in"></a>
                <div class="form-name"><p>Перевод средств между своими счетами</p></div>
                <form action="/transaction_in" method="POST">
                    <div th:unless="${accountList.isEmpty()}">
                        <div class="form-content"><p>Счет отправки перевода</p>
                            <label><div class="select-block">
                                <select class="form-control" name="debitAccountNum">
                                    <option selected></option>
                                    <option th:each="account : ${accountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div class="form-content"><p>Счет приема перевода</p>
                            <label><div class="select-block">
                                <select class="form-control" name="creditAccountNum">
                                    <option selected></option>
                                    <option th:each="account : ${accountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <label>Сумма перевода<input pattern="^\d+(\.\d{1,2}|)$" name="sum" required
                                                        placeholder="100.00"></label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Перевести" title="Перевести со счёта на счёт">
                        </div>
                    </div>
                    <div th:if="${accountList.isEmpty()}">
                        <label class="information">Нет открытых счетов</label>
                    </div>
                    <label class="report"><span th:text="${report_transaction_in}"></span></label><br>
                    <label class="error"><span th:text="${error_transaction_in}"></span></label>
                </form>
            </div>

            <div class="form">
                <a class="anchor" id="transaction_out"></a>
                <div class="form-name"><p>Перевод средств другому клиенту</p></div>
                <form action="/transaction_out" method="POST">
                    <div th:unless="${accountList.isEmpty()}">
                        <div class="form-content"><p>Счет отправки перевода</p>
                            <label><div class="select-block">
                                <select class="form-control" name="debitAccountNum">
                                    <option selected></option>
                                    <option th:each="account : ${accountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <label>Перевод клиенту по номеру телефона:
                                <input type="tel" name="phone" required placeholder="Номер телефона">
                            </label>
                        </div>
                        <div>
                            <label>Сумма перевода
                                <input pattern="^\d+(\.\d{1,2}|)$" name="sum" required placeholder="100.00">
                            </label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Перевести"
                                   title="Перевести средства на выбранный счёт получателя">
                        </div>
                    </div>
                    <div th:if="${accountList.isEmpty()}">
                        <label class="information">Нет открытых счетов</label>
                    </div>
                    <label class="report"><span th:text="${report_transaction_out}"></span></label><br>
                    <label class="error"><span th:text="${error_transaction_out}"></span></label>
                </form>
            </div>

            <!-- -------------------- ВКЛАДЫ -------------------- -->
            <div class="form">
                <a class="anchor" id="create_deposit"></a>
                <div class="form-name"><p>Открытие вклада</p></div>
                <form action="/create_deposit" method="POST">
                    <div th:unless="${accountList.isEmpty()}">
                        <div class="form-content"><p>Вид вклада</p>
                            <label><div class="select-block">
                                <select class="form-control" name="depositType">
                                    <option selected></option>
                                    <option th:each="type : ${depositTermList}" th:value="${type.type}"
                                            th:text="${type.toString()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div class="form-content"><p>Средства для вклада будут взяты со счета</p>
                            <label><div class="select-block">
                                <select class="form-control" name="accountNum">
                                    <option selected></option>
                                    <option th:each="account : ${accountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <label>Сумма вклада
                                <input pattern="^\d+(\.\d{1,2}|)$" name="sum" required placeholder="100.00">
                            </label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Открыть" title="Открыть выбранный вид вклада">
                        </div>
                    </div>
                    <div th:if="${accountList.isEmpty()}">
                        <label class="information">Нет открытых счетов</label>
                    </div>
                    <label class="report"><span th:text="${report_create_deposit}"></span></label><br>
                    <label class="error"><span th:text="${error_create_deposit}"></span></label>
                </form>
            </div>

            <div class="form">
                <a class="anchor" id="close_deposit"></a>
                <div class="form-name"><p>Закрытие вклада</p></div>
                <form action="close_deposit" method="POST">
                    <div th:unless="${accountList.isEmpty() or depositList.isEmpty()}">
                        <div class="form-content"><p>Выберите вклад</p>
                            <label><div class="select-block">
                                <select class="form-control" name="depositId">
                                    <option selected></option>
                                    <option th:each="deposit : ${depositList}" th:value="${deposit.id}"
                                            th:text="${deposit.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div class="form-content"><p>Средства будут перечислены на счет</p>
                            <label><div class="select-block">
                                <select class="form-control" name="accountNum">
                                    <option selected></option>
                                    <option th:each="account : ${accountList}" th:value="${account.accountNum}"
                                            th:text="${account.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Закрыть" title="Закрыть выбранный вклад">
                        </div>
                    </div>
                    <div th:if="${accountList.isEmpty()}">
                        <label class="information">Нет открытых счетов</label>
                    </div>
                    <div th:if="${depositList.isEmpty() and !accountList.isEmpty()}">
                        <label class="information">Нет открытых вкладов</label>
                    </div>
                    <label class="report"><span th:text="${report_close_deposit}"></span></label><br>
                    <label class="error"><span th:text="${error_close_deposit}"></span></label>
                </form>

            </div>


            <!-- -------------------- КРЕДИТЫ -------------------- -->
            <div class="form">
                <a class="anchor" id="create_credit"></a>
                <div class="form-name"><p>Выдача кредита</p></div>
                <form action="/create_credit" method="POST">
                    <div class="form-content"><p>Вид кредита</p>
                        <label><div class="select-block">
                            <select class="form-control" name="creditType">
                                <option selected></option>
                                <option th:each="type : ${creditTermList}" th:value="${type.type}"
                                        th:text="${type.toString()}"></option>
                            </select>
                        </div></label>
                    </div>
                    <div>
                        <label>Сумма кредита
                            <input pattern="^\d+(\.\d{1,2}|)$" name="sum" required placeholder="100.00">
                        </label>
                    </div>
                    <div>
                        <input class="button" type="submit" value="Выдача"
                               title="Выдача кредита по выбранным условиям">
                    </div>
                    <label class="report"><span th:text="${report_create_credit}"></span></label><br>
                    <label class="error"><span th:text="${error_create_credit}"></span></label>
                </form>
            </div>

            <div class="form">
                <a class="anchor" id="show_graph_credit"></a>
                <div class="form-name"><p>Просмотр состояния и графика погашения по кредиту</p></div>
                <form action="/show_graph_credit" method="POST">
                    <div th:unless="${creditList.isEmpty()}">
                        <div class="form-content"><p>Выберите кредит</p>
                            <label><div class="select-block">
                                <select class="form-control" name="creditId">
                                    <option selected></option>
                                    <option th:each="credit : ${creditList}" th:value="${credit.id}"
                                            th:text="${credit.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Состояние" title="Просмотр состояния кредита">
                        </div>
                    </div>
                    <div th:if="${creditList.isEmpty()}">
                        <label class="information">Нет открытых кредитов</label>
                    </div>
                    <label class="report"><span th:text="${report_show_graph_credit}"></span></label><br>
                    <label class="error"><span th:text="${error_show_graph_credit}"></span></label>
                </form>
            </div>

            <div class="form">
                <a class="anchor" id="close_credit"></a>
                <div class="form-name"><p>Закрытие кредита</p></div>
                <form action="/close_credit" method="POST">
                    <div th:unless="${creditList.isEmpty()}">
                        <div class="form-content"><p>Вид кредита</p>
                            <label><div class="select-block">
                                <select class="form-control" name="creditId">
                                    <option selected></option>
                                    <option th:each="credit : ${creditList}" th:value="${credit.id}"
                                            th:text="${credit.getUpDescript()}"></option>
                                </select>
                            </div></label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Закрыть" title="Закрытие кредита">
                        </div>
                    </div>
                    <div th:if="${creditList.isEmpty()}">
                        <label class="information">Нет открытых кредитов</label>
                    </div>
                    <label class="report"><span th:text="${report_close_credit}"></span></label><br>
                    <label class="error"><span th:text="${error_close_credit}"></span></label>
                </form>
            </div>
        </div>
        <div class="air"></div>
    </div>
</main>
</body>
</html>